@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Admin", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav login-partial">
            <li class="login-hello">
                Hello, @User.Identity.GetUserName()!
            </li>
            <li class="logout-button"><a class="btn btn-primary" href="@Url.Action("Pending", "Admin")">Pending submissions</a></li>
            <li>&nbsp;</li>
            <li class="logout-button"><input class="btn btn-primary" type="submit" value="Logout" /></li>
        </ul>
    }
}
