@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Admin", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li style="display: block; padding: 10px 15px; color: #9d9d9d; position: relative; line-height: 20px;">
                Hello @User.Identity.GetUserName()
            </li>
            <li style="display: block; padding: 10px 15px; position: relative; line-height: 20px;"><input type="submit" value="Logout" /></li>
        </ul>
    }
}
