<div class="search-xl">

    <form class="searchbar-xl" action="@Url.Action("Search", "Search" )">

        <input class="form-control form-control-lg col-sm-12" type="text" name="q" placeholder="Search All Games">
        <button class="btn btn-primary col-5 col-md-2" type="submit"><strong>Search</strong></button>
        <button class="btn btn-secondary col-md-3 d-none d-md-inline" type="submit"><strong>Advanced Search</strong></button>
        <button class="btn btn-secondary col-5 d-inline d-md-none" type="submit"><strong>Advanced</strong></button>

    </form>

</div>