<div class="search-xl">

    <form class="searchbar-xl" action="@Url.Action("Search", "Search" )">

        <input class="form-control form-control-lg col-sm-12" type="text" name="q" placeholder="Search All Games" aria-label="Search All Games">
        <button class="btn btn-primary col-12" type="submit"><strong>Search</strong></button>
    </form>

    <a class="btn-fake col-12 d-block" href="@Url.Action("Advanced", "Search")"><strong>Advanced Search</strong></a>

</div>