@using DIHMT.Static
<div class="sidebar">

    <div class="blog">

        <a href="#">
            <a href="#" class="blog-name indigo">MTX.Zone Blog</a>
        </a>

        <hr class="divider-top" />
        
        @Html.Partial("Tumblr", TumblrState.GetPosts())

    </div>

    <div class="d-none d-xl-block">
        <!-- Twitter Feed Start: temporary inline CSS/script; fix later -->
        <a class="twitter-timeline" data-height="500" data-dnt="true" data-theme="dark" href="https://twitter.com/MTXZone?ref_src=twsrc%5Etfw">Tweets by MTXZone</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <!-- Twitter Feed End-->
    </div>

</div>