<div class="sidebar">

    <div class="blog">

        <a href="#">
            <div class="blog-post-date">2018 Jun 01</div>
            <div class="blog-post-title">New Games This Week</div>
        </a>
        <div class="blog-post-body">Check out our ratings on the newest games this week, including Video Game One and Video Game 2!</div>

        <hr class="divider" />

        <a href="#">
            <div class="blog-post-date">2018 May 22</div>
            <div class="blog-post-title">New Games This Week&mdash;now with a longer title!</div>
        </a>
        <div class="blog-post-body">Check out our ratings on the newest games this week, including Video Game One and Video Game 2!</div>

        <hr class="divider" />

        <a href="#">
            <div class="blog-post-date">2018 May 03</div>
            <div class="blog-post-title">New Games This Week</div>
        </a>
        <div class="blog-post-body">Check out our ratings on the <a href="#">newest games</a> this week, including Video Game One and Video Game 2!</div>

    </div>

    <div class="d-none d-xl-block">
        <!-- Twitter Feed Start: temporary inline CSS/script; fix later -->
        <a class="twitter-timeline" data-height="500" data-dnt="true" data-theme="dark" href="https://twitter.com/MTXZone?ref_src=twsrc%5Etfw">Tweets by MTXZone</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <!-- Twitter Feed End-->
    </div>

</div>