@{
    ViewBag.Title = "About MICROTRANSACTION.ZONE";
}
<h2>ABOUT MICROTRANSACTION.ZONE</h2>
<h3>MICROTRANSACTION.ZONE IS:</h3>
<ul>
    <li>Your one-stop-source for information about how badly various video games are sticking their dick in it when it comes to monetization</li>
    <li>Unaffiliated with any video game developer or publisher</li>
</ul>

<h3>MICROTRANSACTION.ZONE DOES NOT:</h3>
<ul>
    <li>Cost money to use</li>
    <li>Serve advertisements</li>
    <li>Track and sell your data to any third parties</li>
</ul>

<h3>MICROTRANSACTION.ZONE BY:</h3>
<ul>
    <li><strong>Simon:</strong> Idea, funding, maintenance, development</li>
    <li><strong>Taylor:</strong> Design, development</li>
    <li>
        <strong>Third-party tools:</strong>
        <ul>
            <li>Game data: <a href="https://www.giantbomb.com/api/" target="_blank">The Giant Bomb API</a></li>
            <li>Giant Bomb API wrapper: <a href="https://github.com/kamranayub/GiantBomb-CSharp" target="_blank">GiantBomb C#</a> by <a href="https://github.com/kamranayub" target="_blank">Kamran Ayub</a> (<a href="https://raw.githubusercontent.com/kamranayub/GiantBomb-CSharp/master/LICENSE.txt" target="_blank">License</a>)</li>
        </ul>
    </li>
</ul>

<hr />

<p><strong>MICROTRANSACTION.ZONE</strong> is your one-stop-source for information about how badly various video games are sticking their dick in it when it comes to monetization.</p>
<p><strong>MICROTRANSACTION.ZONE</strong> does not cost money to use.</p>
<p><strong>MICROTRANSACTION.ZONE</strong> does not serve advertisements, or track and sell your data to any third parties.</p>
<p><strong>MICROTRANSACTION.ZONE</strong> was conceived and is funded and maintained by Simon.</p>
<p><strong>MICROTRANSACTION.ZONE</strong> is developed by Simon and Taylor.</p>
<p><strong>MICROTRANSACTION.ZONE</strong> is designed by Taylor and Simon.</p>
<p><strong>MICROTRANSACTION.ZONE</strong> makes use of data from <a href="https://www.giantbomb.com/api/" target="_blank">the Giant Bomb API</a>.</p>
<p><strong>MICROTRANSACTION.ZONE</strong> makes use of <a href="https://github.com/kamranayub/GiantBomb-CSharp" target="_blank">GiantBomb C#</a> by <a href="https://github.com/kamranayub" target="_blank">Kamran Ayub</a> (<a href="https://raw.githubusercontent.com/kamranayub/GiantBomb-CSharp/master/LICENSE.txt" target="_blank">License</a>).</p>