@{
    ViewBag.Title = "About";
}

<div class="basic">

    <h1>ABOUT MTX.ZONE</h1>

    <p></p>

    <h4>MICROTRANSACTION.ZONE is your one-stop source for information about how badly various video games are sticking their dick in it when it comes to monetization</h4>

    <p></p>

    <h4>MICROTRANSACTION.ZONE will not</h4>
    <ul>
        <li><b>Cost money</b> to use</li>
        <li><b>Serve advertisements</b></li>
        <li><b>Track and sell your data</b> to any third parties</li>
    </ul>

    <h4>MICROTRANSACTION.ZONE was built by</h4>
    <ul>
        <li><strong>Simon</strong></li>
        <li><strong>Taylor</strong></li>
        <li>
            <b>Third-party tools</b>
            <ul>
                <li><a href="https://www.giantbomb.com/api/" target="_blank">The Giant Bomb API</a></li>
                <li><a href="https://github.com/kamranayub/GiantBomb-CSharp" target="_blank">GiantBomb C#</a> by <a href="https://github.com/kamranayub" target="_blank">Kamran Ayub</a> (<a href="https://raw.githubusercontent.com/kamranayub/GiantBomb-CSharp/master/LICENSE.txt" target="_blank">License</a>)</li>
            </ul>
        </li>
    </ul>

</div>