@{
    ViewBag.Title = "About";
}

@section twittercard
{
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@("@MTXZone")" />
    <meta name="twitter:title" content="MICROTRANSACTION.ZONE - About" />
    <meta name="twitter:description" content="Who we are and what we do." />
    <meta name="twitter:image" content="https://microtransaction.zone/Images/MTZ_profile_pic.png" />
}

<div class="basic">

    <h1>ABOUT MTX.ZONE</h1>

    <p></p>

    <p><strong>MICROTRANSACTION.ZONE is your one-stop source for information about how badly various video games are sticking their dick in it when it comes to monetization.</strong></p>

    <p></p>

    <h2>MICROTRANSACTION.ZONE will not</h2>
    <ul>
        <li><b>Cost money</b> to use</li>
        <li><b>Serve advertisements</b></li>
        <li><b>Track and sell your data</b> to any third parties</li>
    </ul>

    <h2>MICROTRANSACTION.ZONE was built by</h2>
    <ul>
        <li><strong>Simon</strong></li>
        <li><strong>Taylor</strong></li>
        <li>
            <b>Third-party tools</b>
            <ul>
                <li><a href="https://www.giantbomb.com/api/" target="_blank">The Giant Bomb API</a></li>
                <li><a href="https://github.com/kamranayub/GiantBomb-CSharp" target="_blank">GiantBomb C#</a> by <a href="https://github.com/kamranayub" target="_blank">Kamran Ayub</a> (<a href="https://raw.githubusercontent.com/kamranayub/GiantBomb-CSharp/master/LICENSE.txt" target="_blank">License</a>)</li>
                <li><a href="https://github.com/zzzprojects/html-agility-pack" target="_blank">HTML Agility Pack</a> (<a href="https://github.com/zzzprojects/html-agility-pack/raw/master/LICENSE" target="_blank">License</a>)</li>
            </ul>
        </li>
    </ul>

</div>