@{
    ViewBag.Title = "About";
}
<h2>ABOUT MICROTRANSACTION.ZONE</h2>
<h3>MICROTRANSACTION.ZONE IS:</h3>
<ul>
    <li>Your one-stop-source for information about how badly various video games are sticking their dick in it when it comes to monetization</li>
</ul>

<h3>MICROTRANSACTION.ZONE DOES NOT:</h3>
<ul>
    <li>Cost money to use</li>
    <li>Serve advertisements</li>
    <li>Track and sell your data to any third parties</li>
</ul>

<h3>MICROTRANSACTION.ZONE BY:</h3>
<ul>
    <li><strong>Simon</strong></li>
    <li><strong>Taylor</strong></li>
    <li>
        <strong>Third-party tools:</strong>
        <ul>
            <li><a href="https://www.giantbomb.com/api/" target="_blank">The Giant Bomb API</a></li>
            <li><a href="https://github.com/kamranayub/GiantBomb-CSharp" target="_blank">GiantBomb C#</a> by <a href="https://github.com/kamranayub" target="_blank">Kamran Ayub</a> (<a href="https://raw.githubusercontent.com/kamranayub/GiantBomb-CSharp/master/LICENSE.txt" target="_blank">License</a>)</li>
        </ul>
    </li>
</ul>

<hr />
