@{
    ViewBag.Title = "Contact";
}

<p>If you want to get in touch with us, you can find us in any of the following places:</p>

<ul>
    <li>
        <strong>Email:</strong> <a href="mailto:contact@microtransaction.zone">contact@microtransaction.zone (not set up yet)</a>
    </li>
    <li>
        <strong>Twitter:</strong> <a href="https://twitter.com/MTXZone" target="_blank">@@MTXZone</a>
    </li>
    <li>
        <strong>Tumblr:</strong> <a href="#">Link to tumblr once that's set up</a>
    </li>
</ul>

<p>Our personal twitter accounts, in case you need to get in touch with a specific person:</p>

<ul>
    <li>
        <strong><a href="https://twitter.com/instant_grat" target="_blank">Simon</a></strong>
    </li>
    <li>
        <strong><a href="https://twitter.com/TaylorBartman" target="_blank">Taylor</a></strong>
    </li>
</ul>