@{
    ViewBag.Title = "Contact";
}

@section twittercard
{
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@("@MTXZone")" />
    <meta name="twitter:title" content="MICROTRANSACTION.ZONE - Contact" />
    <meta name="twitter:description" content="Get in touch with the admins of MICROTRANSACTION.ZONE" />
    <meta name="twitter:image" content="https://microtransaction.zone/Images/MTZ_profile_pic.png" />
}

<div class="basic">

    <h1>Contact Us</h1>

    <p>If you want to get in touch with us, you can find us in any of the following places:</p>

    <h2 class="softh2">Discord</h2>
    <p><a href="https://discord.gg/B3ZnzDm" target="_blank">Join our server here!</a></p>
    <p></p>

    <h2 class="softh2">Email</h2>
    <p><a href="mailto:contact@microtransaction.zone">contact@microtransaction.zone</a></p>
    <p></p>

    <h2 class="softh2">Twitter</h2>
    <p><a href="https://twitter.com/MTXZone" target="_blank">@@MTXZone</a></p>
    <p></p>

    <h2 class="softh2">Tumblr</h2>
    <p><a href="http://mtxzone.tumblr.com">MTXZone</a></p>
    <p></p>

    <h2 class="softh2">Contact Simon or Taylor</h2>
    <p><a href="https://twitter.com/instant_grat" target="_blank">Simon's Twitter</a>&nbsp;|&nbsp;<a href="https://twitter.com/TaylorBartman" target="_blank">Taylor's Twitter</a></p>

</div>