@using DIHMT.Static

@{
    ViewBag.Title = "Donate";
}

<h2>Donations</h2>

<p>
    <strong>MICROTRANSACTION.ZONE</strong> is a strictly non-commercial endeavour. The site will remain free to use for as long as it exists, and we do not monetize our users through advertisements or data tracking.
    It costs money to keep it running, though - domain names and hosting don't come for free. And it takes time to develop and maintain.
</p>

<p>
    If you feel that <strong>MICROTRANSACTION.ZONE</strong> has been useful to you, and you wish to help contribute to keeping it running, you can do so by donating via one of the links on this page.
    Donations are greatly appreciated, and completely optional.
</p>

<p>
    Donations will be used to cover the site's upkeep.
    Any surplus beyond this will go to the developers and maintainers listed on our <a href="@Url.Action("About")" target="_blank">About</a>-page.
</p>

<p>
    We guarantee that no matter how much or how often you donate, you will get absolutely nothing in return. Not even a shoutout in the credits of our next YouTube video.
</p>

<h3>One-time donations</h3>

<p>
    One-time donations can be made through PayPal, by clicking the button below.
    A PayPal account is not required - you can pay with any major credit/debit card.
</p>

<div>
    <img src="@DummyContent.DummyImage(60, 35)" alt="" style="display: block; margin-left: auto; margin-right: auto"/>
</div>

<h3>Recurring donations</h3>

<p>
    We accept monthly donations through our Patreon campaign, which can be accessed by clicking the button below.
    Payments can be made with a PayPal account, or any major credit/debit card. A free Patreon account is required to sign up for automatic monthly donations.
</p>

<div>
    <img src="@DummyContent.DummyImage(60, 60)" alt="" style="display: block; margin-left: auto; margin-right: auto;"/>
</div>