@{
    ViewBag.Title = "Donate";
}

@section twittercard
{
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@("@MTXZone")" />
    <meta name="twitter:title" content="MICROTRANSACTION.ZONE - Donate" />
    <meta name="twitter:description" content="Y'know, if you want." />
    <meta name="twitter:image" content="https://microtransaction.zone/Images/MTZ_profile_pic.png" />
}

<div class="basic">

    <h1>Donations</h1>

    <p>
        As the site is currently somewhat inactive, we're not accepting donations at the moment.
    </p>

</div>
