@using DIHMT.Static

@{
    ViewBag.Title = "MICROTRANSACTION.ZONE";
}

@section twittercard
{
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@("@MTXZone")" />
    <meta name="twitter:title" content="MICROTRANSACTION.ZONE" />
    <meta name="twitter:description" content="Informing you about microtransactions and DLC purchases for all your favorite video games." />
    <meta name="twitter:image" content="https://microtransaction.zone/Images/MTZ_profile_pic.png" />
}

<div class="page-title" id="page-title">Recently Rated Games</div>
<div class="column no-gutters">
    @foreach (var v in GameHelpers.GetRecentlyRatedGames(3))
    {
        <div class="list-item clearfix">
            @Html.Partial("Mini", v)
        </div>
    }
</div>
<div class="page-title" id="page-title"><a href="@Url.Action("Recent", "Search")" class="grey">View All Rated Games</a></div>
