@using DIHMT.Models
@using DIHMT.Static

@{
    ViewBag.Title = "MICROTRANSACTION.ZONE";
}

<div class="col-md-12">
    <img src="@DummyContent.DummyImage(900, 200)" alt="" style="display: block; margin-left: auto; margin-right: auto;" />
    <br />
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">About MICROTRANSACTION.ZONE</a></p>
</div>

<div class="row">
    <h1>Recently rated games</h1>
</div>

<div class="row">
    @foreach (var v in GameHelpers.GetRecentlyRatedGames(3))
    {
        <div class="col-md-4" style="border: 1px; border-style: dotted;">
            @Html.Partial("Mini", v)
        </div>
    }
</div>