@using DIHMT.Static

@{
    ViewBag.Title = "MICROTRANSACTION.ZONE";
}

<div class="alert alert-success" role="alert">
    <p>
        <strong>We just added some new tags to the site!</strong> Wanna know what they're all about? And what other changes are coming in the near future?
        Click <strong><a href="https://mtxzone.tumblr.com/post/173399708728/preview-new-and-changing-tags" target="_blank">here</a></strong>, and all shall be revealed...
    </p>

    <p><sub>P.S. The icons for the new tags are just placeholders. They'll get proper icons that are just as nifty as all the others in short order.</sub></p>
</div>

<div class="page-title" id="page-title">Recently Rated Games</div>
<div class="column no-gutters">
    @foreach (var v in GameHelpers.GetRecentlyRatedGames(3))
    {
        <div class="list-item clearfix">
            @Html.Partial("Mini", v)
        </div>
    }
</div>
<div class="page-title" id="page-title"><a href="@Url.Action("Recent", "Search")" class="grey">View All Rated Games</a></div>
