@using DIHMT.Static

@{
    ViewBag.Title = "MICROTRANSACTION.ZONE";
}

<div class="page-title" id="page-title">Recently Rated Games</div>
<div class="column no-gutters">
    @foreach (var v in GameHelpers.GetRecentlyRatedGames(3))
    {
        <div class="list-item clearfix">
            @Html.Partial("Mini", v)
        </div>
    }
</div>
<div class="page-title" id="page-title"><a href="@Url.Action("Recent", "Search")" class="grey">View All Rated Games</a></div>
