@using DIHMT.Models
@using DIHMT.Static

@{
    ViewBag.Title = "MICROTRANSACTION.ZONE";
}

<div class="search-xl">
    <form class="searchbar-xl col.12" action="@Url.Action("Search", "Search")">
        <input class="form-control form-control-lg col-sm-12" type="text" name="q" placeholder="Search All Games">
        <button class="btn btn-primary col-sm-2" type="submit">Search</button>
        <button class="btn btn-secondary col-sm-3" type="submit">Advanced Search</button>
    </form>
</div>

<!-- future problem: <div class="page-title">News</div>

<div class="date-text">2018<br />Apr 30</div>
<div class="news-box clearfix column">
        <p>Updates to Microtransaction.zone<br />
        A summary sentence and/or first sentence of the post, which can only go down up to two lines in large and extra large mode.</p>
</div> -->

<div class="page-title">Recently Rated Games</div>
<div class="column">
    @foreach (var v in GameHelpers.GetRecentlyRatedGames(3))
    {
        <div class="list-item-box clearfix">
            @Html.Partial("Mini", v)
        </div>
    }
</div>
