@using DIHMT.Static

@{
    ViewBag.Title = "MICROTRANSACTION.ZONE";
}

<div class="container">

    <div class="row">

        <div class="col-lg-9 col-md-12">

            @Html.Partial("SearchbarXL", "Search")

            <div class="page-title" id="page-title">Recently Rated Games</div>
            <div class="column no-gutters">
                @foreach (var v in GameHelpers.GetRecentlyRatedGames(3))
                {
                    <div class="list-item clearfix">
                        @Html.Partial("Mini", v)
                    </div>
                }
            </div>
        </div>

        <div class="col-lg-3 d-none d-lg-block">
            @Html.Partial("Sidebar")
        </div>

    </div>

</div>
