@using DIHMT.Static

@{
    ViewBag.Title = "Submission Guide";
}

<div class="basic">
    <h4>About Submissions</h4>


    <p>
        If you want to submit an entry for a game, all you need to do is search for the game, go to the page, and select "Submit (or Edit) Rating." When you send in a new or edited entry, it will be reviewed by site moderators before being accepted. Grammar and spelling may be edited. You do not need an account, and we do not collect any personal data. To prevent abuse, we receive an encrypted version of your IP address, so we can suspend IP addresses without ever knowing information about the submitter. Read more about our commitment to privacy <here.>
    </p>
    <h4>A How-To Guide</h4>


    <h5>Flags</h5>


    <p>
        Select all flags that are relevant to the game, according to our <Flag Guidelines>.
    </p>
    <h5>Basically, this game…</h5>


    <p>
        Finish the sentence with a short overview of the game's microtransactions. This should either summarize the detailed description or highlight something particularly notable. Clever or funny quips are accepted, but aren't necessary.
    </p>
    <h5>Detailed Info</h5>


    <p>
        This is where you'll describe the specifics of the game's microtransactions. The description should be informational, not opinionated, aiming for as much objectivity as possible. There's no length requirement, so if your write-up is short but says what it needs, that's great.
    </p>
    <p>
        Some questions you might ask yourself when writing:
    </p><ul>

        <li><em>What is the most important/notable microtransaction?</em> For instance, a mandatory subscription fee is more important than cosmetic DLC.
        <li><em>What are the microtransactions?</em> Describe the flags you picked. If it's cosmetic DLC, is it skins, vehicles, etc.?
        <li>
            <em>How do you pay for the microtransactions?</em> <ul>

                <li>In game currency: If it takes a long time to unlock something this way, mention it.
                <li>Real money (or points bought with real money): If it's 1 item type, how much does it normally cost? If it's multiple, what's the price range? Right Right now, these prices should be in USD. If you can't access U.S. prices, go ahead and leave out the numbers for another user to fill in.</li>
            </ul>
        </li>
    </ul>

    <p>
        <strong><em>For those games whose crimes are especially heinous: If the game reaches prerelease Star Wars: Battlefront II badness, it can be tempting to tear it apart. Fortunately for us, you don't have to—people will understand when they read it takes 40 hours to unlock a character you can buy right now for a few dollars. Let them speak for themselves.</em></strong>
    </p>
    <h5>Links</h5>


    <p>
        Here, you can add links about the game and its microtransactions. You might want to add links to a page that goes into more detail about the items for sale or a video that covers the microtransactions in depth.
    </p>
    <h5>Why was my entry rejected?</h5>

    <ul>

        <li>Too subjective: Descriptions should be as objective as possible. Read more under <Detailed Info.>
        <li>Incorrect information: The entry may have contained information we couldn't verify. If you feel this was done in error, feel free to attach sources in the Links section.
        <li>Irrelevant information: Try to avoid talking about things external to the game other than in quick references to clarify something.
        <li>Illegible: We couldn't understand some or all of the written sections.
        <li>Abusive or discriminatory: We will not approve entries that include language we deem inappropriate. Repeated entries like this from the same IP will lead to a ban.
        <li>Spam: Entries containing advertisements or written to troll will eventually lead to a ban.</li>
    </ul>

    <h4>Flags 101</h4>


    <p>
        <strong>Spotless a.k.a. No Monetized Content</strong>
    </p>
    <p>
        <strong>You buy the game, you own the game—full stop.</strong>
    </p>
    <p>
        This game contains no post-purchase real-money transactions of any kind (e.g. expansion packs, DLC, loot boxes). Only one purchase is necessary to own the complete game and all future content. Online features tied to PlayStation Plus and Xbox Live Gold do not disqualify a game from this tag.
    </p>
    <p>
        <strong>Examples</strong>
    </p><ul>

        <li><em>Stardew Valley</em> (PC, PS4, XB1, Switch) has released several major updates at no cost and has no plans to release paid content.</li>
    </ul>

    <p>

        <hr>
    </p>
    <p>
        <strong>Horse Armor a.k.a. Cosmetic/Frivolous DLC</strong>
    </p>
    <p>
        <strong>Some minor, purchasable DLC.</strong>
    </p>
    <p>
        This game contains some minor—i.e. cosmetic or non-gameplay-altering—DLC, such as character skins, vehicle parts, background music, etc. The DLC can be purchased directly, with no randomness or loot boxes involved.
    </p>
    <p>
        <em>Note:</em> "Horse Armor" becomes "Bulk Order Horse Armor" around the point qualifying DLC costs around the same as purchasing the game itself.
    </p>
    <p>
        <strong>Bulk Order Horse Armor a.k.a. Excess Cosmetic/Frivolous DLC</strong>
    </p>
    <p>
        <strong>A lot of minor, purchasable DLC.</strong>
    </p>
    <p>
        This game contains a large amount of minor—i.e. cosmetic or non-gameplay-altering—DLC, such as character skins, vehicle parts, background music, etc. The DLC can be purchased directly, with no randomness or loot boxes involved.
    </p>
    <p>
        <strong>Examples</strong>
    </p><ul>

        <li><em>Fortnite</em> (PC, Mac, PS4, XB1, iOS) offers clothing, tool skins, glider skins, and emotes for $8-$20 worth of the currency "V-Bucks."</li>
    </ul>

    <p>

        <hr>
    </p>
    <p>
        <strong>Expansive Expansions a.k.a. Expansion Packs</strong>
    </p>
    <p>
        <strong>Paid DLC reminiscent of traditional expansion packs.</strong>
    </p>
    <p>
        This game contains packs of meaningful content additions, similar to games released before DLC was popularized. These include a combination of 3 or more of the following as new content: story, maps, items, weapons, or enemies. They typically cost 30% or more of the base game's price.
    </p>
    <p>
        <strong>Examples</strong>
    </p><ul>

        <li>x</li>
    </ul>

    <p>

        <hr>
    </p>
    <p>
        <strong>It's Not Gambling, We Swear a.k.a. Loot Boxes & Other Randomized DLC</strong>
    </p>
    <p>
        <strong>Loot boxes with randomized contents, buyable with real money.</strong>
    </p>
    <p>
        This game contains loot boxes or other similar content that drops randomized items. These boxes can be purchased directly with real money and/or with an in-game currency—which can often be purchased with real money, as well. Some games have boxes that require paid single-use keys in order to unlock the box.
    </p>
    <p>
        <strong>Examples</strong>
    </p><ul>

        <li><em>Overwatch</em> (PC, PS4, XB1) provides loot boxes for leveling up, completing certain activities, or in bundles starting at $1.99 for 2.
        <li><em>PlayerUnknown's Battlegrounds</em> (PC, XB1), commonly known as <em>PUBG,</em> provides loot crates that can be opened for free, as well as "Desperado crates" that drop in-game or sell for money on the Steam Marketplace. Desperado crates cost $2.50 each to open.</li>
    </ul>

    <p>

        <hr>
    </p>
    <p>
        <strong>Infinite Money Hole a.k.a. No Spending Cap</strong>
    </p>
    <p>
        <strong>No limit to real money purchases.</strong>
    </p>
    <p>
        This game has no limit to the amount of money that can be spent. This usually involves random drops or loot boxes in games where items can be bought, traded, and sold.
    </p>
    <p>
        <strong>Examples</strong>
    </p><ul>

        <li><em>Counter Strike: Global Offensive</em> (PC, Mac, PS3, XB360, Linux) has a market of weapon skins dropped from boxes, which are unlocked with keys. Skins, boxes, and keys can all be bought, traded, and sold with real money via the Steam Marketplace. Players can receive, then sell duplicate items.</li>
    </ul>

    <p>

        <hr>
    </p>
    <p>
        <strong>It's Not Just Cosmetic a.k.a. Gameplay-Altering DLC</strong>
    </p>
    <p>
        <strong>Upgrades with gameplay-altering effects, purchased with real money.</strong>
    </p>
    <p>
        This game contains gameplay-altering content, such as experience boosts and powerful weapons. This may be done directly with real money, or indirectly by buying in-game currencies and loot boxes with real money.
    </p>
    <p>
        <strong>Examples</strong>
    </p><ul>

        <li>x</li>
    </ul>

    <p>

        <hr>
    </p>
    <p>
        <strong>But First, You'll Need a Contract a.k.a. Subscriptions</strong>
    </p>
    <p>
        <strong>Contains a game-specific subscription service.</strong>
    </p>
    <p>
        This game contains a paid subscription service. The subscription may be required to play the game. Alternatively, it may be a freemium service in which the game is free to play but paying for a subscription provides bonuses or enhances gameplay. This does not include services such as Playstation Plus and Xbox Live Gold, which apply to multiple games rather than one specific game.
    </p>
    <p>
        <strong>Examples</strong>
    </p><ul>

        <li><em>World of Warcraft</em> (PC, Mac) and <em>Final Fantasy XIV</em> (PC, Mac, PS4) both have mandatory subscription fees of $15 per month—or less, if purchasing multiple months of service at a time.
        <li><em>The Elder Scrolls Online</em> (PC, Mac, PS4, XB1) allows players to play for free once the base game is purchased, but also offers a freemium service named ESO Plus that adds bonuses such as DLC access and experience boosts.</li>
    </ul>

    <p>

        <hr>
    </p>
    <p>
        <strong>Table for One a.k.a. Standalone Single Player</strong>
    </p>
    <p>
        <strong>Contains a single-player campaign with no additional monetization.</strong>
    </p>
    <p>
        This game has a complete single-player campaign without any microtransactions. Other tags applied to this game are based exclusively on multiplayer content.
    </p>
    <p>
        <strong>Examples</strong>
    </p><ul>

        <li>x</li>
    </ul>

    <p>

        <hr>
    </p>
    <p>
        <strong>Free to Play a.k.a. No Cost of Entry</strong>
    </p>
    <p>
        <strong>No up-front purchase required to play.</strong>
    </p>
    <p>
        This game can be downloaded and played for free. Often, the game requires users to create an account.
    </p>
    <p>
        <strong>Examples</strong>
    </p><ul>

        <li><em>Pokemon Go </em>(iOS, Android) can be downloaded and played for free. Players can purchase items but are not necessary to access the base game and features.
</div>