<?xml version = "1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <clear />
      <mimeMap fileExtension = ".*" mimeType="text/plain" />
    </staticContent>

    <handlers>
      <clear />
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule"
           resourceType="Either" requireAccess="Read" />
    </handlers>
  </system.webServer>
</configuration>
