<connectionStrings>
    <add name="DIHMTEntities" connectionString="metadata=res://*/Models.EfModel.csdl|res://*/Models.EfModel.ssdl|res://*/Models.EfModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{your_connection_string}&quot;" providerName="System.Data.EntityClient" />
	<add name="DefaultConnection" connectionString="{your_connection_string}" providerName="System.Data.SqlClient" />
</connectionStrings>