/*      BODY        */

body {
    margin: 0;
    font-family: Montserrat, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



/*      TYPOGRAPHY      */



/*      NAV     */

.nav {
    background-color: #1a1a1a;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
}

nav > div > div > ul > li > a {
    color: #ccc;
}

nav > div > div > ul > li > a:hover {
    color: #fff;
}

nav > div > a {
    color: #9f8af9;
}

nav > div > a:hover {
    color: #9f8af9;
}

nav > div > a > img {
    margin-right: 10px;
    width: 50px;
}



/*      UNSORTED        */

/*targets Giant Bomb images on front page and in searches*/
.game-small {
    max-height:200px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.wide-input {
    max-width: 500px;
}