/*  HEX COLORS   */
/*  MZ-indigo           #784ef9 */
/*  MZ-indigo-light     #9f8af9 */
/*  MZ-indigo-hover     #bfb1fb */
/*  MZ-indigo-dark      #3f3882 */
/*  MZ-gray-dark        #1a1a1a */

/*  BOOTSTRAP BREAKPOINTS  */
/*  small = min-width: 576px    */
/*  medium = min-width: 768px   */
/*  large = min-width: 992px    */
/*  x-large = min-width: 1200px */



/*      BODY        */

body {
    color: #1a1a1a;
    font-family: Montserrat, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;

}

.body-content {
    margin-top: 65px;
}

a {
    color: #9f8af9;
}

a:hover {
    color: #bfb1fb;
}

.page-title {
    background-color: #1a1a1a;
    border-radius: 0.25rem;
    color: #9f8af9;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 20px auto 10px auto;
    padding: 10px 20px 10px 20px;
    width: 100%;
}

/* in which VS tells me this valid pseudo-element isn't valid*/
::placeholder {
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    ::placeholder {
        font-size: 1.15rem;
    }
}



/*      BUTTONS      */

.btn-primary {
    background-color: #784ef9;
    font-weight: 700;
    border: 0;
}

.btn-primary:hover {
    background-color: #9f8af9;
}

.btn-secondary {
    font-weight: 700;
    border: 0;
}

.btn-secondary:hover {
    background-color: #aaa;
}



/*      POPOVER     */

.popover-header {
    background-color: #784ef9;
    color: white;
}

.popover-body {
    margin-bottom: 5px;   
}



/*      NAV     */

.nav {
    background-color: #1a1a1a;
    font-size: .9rem;
    font-weight: 700;
    padding-left: 0;
    padding-right: 0;
    text-transform: uppercase;
}

.navbar-brand {
    font-size: 1rem;
}

@media (max-width: 767px) {
    .navbar-brand {
        margin-left: 20px;
    }
}

.navbar-toggler {
    margin-left: 5px;
    margin-right: 5px;
}

nav > div > div > ul > li > a {
    color: #ccc;
}

nav > div > div > ul > li > a:hover {
    color: #fff;
}

nav > div > a {
    color: #9f8af9;
}

nav > div > a:hover {
    color: #9f8af9;
}

nav > div > a > img {
    margin-right: 15px;
    width: 50px;
}

@media (max-width: 767px) {
    .nav-item {
        padding-left: 15px;
    }
    .nav-item:hover {
        background-color: #3f3882;
    }
}



/*      SIDEBAR      */

.sidebar {
    background-color: #1a1a1a;
    color: white;
    font-size: .75rem;
    font-weight: 500;
    height: 100%;
    padding: 20px;
}

.blog {
    margin-bottom: 40px;
}

.blog-post-date {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.blog-post-title {

    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.divider {
    border: .5px solid white;
}



/*      SEARCH XL      */

.search-xl {
    margin: 20px 0 40px 0;
}

@media (max-width: 575px) {
    div > form.searchbar-xl > input.form-control {
        max-width: 545px;
        width: 100%;
    }
}

div > form.searchbar-xl > input.form-control {
    border-color: #1a1a1a;
    border-width: 3px;
    box-shadow: 0px 1px 2px 2px #ccc;
    font-weight: 700;
}

div > form.searchbar-xl > input.form-control::placeholder {
    color: #9f8af9;
}

div > form.searchbar-xl > button {
    margin: 10px auto 10px auto;
}



/*      GAME LIST       */

.list-item-box {
    background-color: #1a1a1a;
    color: white;
    margin: 20px 0 0 0;
}

.list-item-text {
    min-height: 200px;
    padding: 25px 35px 0 25px;
}

/* small textbox */
@media (max-width: 767px) {
    .list-item-text {
        min-height: 175px;
        padding: 20px;
    }
}

.list-item-text > p > a {
    font-weight: 700;
}

.game-name {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}

.game-small {
    background-color: #9f8af9;
    border-right: 1px solid white;
    display: block;
    float: left;
    height: 200px;
    width: 200px;
    margin-right: 35px;
    position: relative;
}

/* small img */
@media (max-width: 767px) {
    .game-small {
        border-right: none;
        float: none;
        height: 150px;
        max-width: 510px;
        margin-right: 0;
        width: 100%;
    }
}

/* x-small img */
@media (max-width: 575px) {
    .game-small {
        border-right: none;
        float: none;
        height: 150px;
        max-width: 545px;
        margin-right: 0;
        width: 100%;
    }
}

.game-img-small {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.game-img-search {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;

}



/*      FLAGS       */

.flag-container {
    background-color: #1a1a1a;
    border-top: 1px solid white;
    margin-top: -16px;
    padding: 20px 25px 20px 25px;
}

@media (max-width: 767px) {
    .flag-container {
        padding: 15px 15px 20px 15px;
    }
}

.flag-row {
    display: flex;
}

@media (max-width: 767px) {
    .flag-row {
        text-align: center;
        display: block;
    }
}

.flag-img {
    height: 50px;
    width: 50px;
    margin: 7px;
}

.inactive-flag-img {
    opacity: 0.3;
}



/*      FOOTER      */

footer {
    margin-top: 50px;
    text-align: center;
}

footer > p {
    padding: 20px;
}


/*      UNSORTED        */

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.wide-input {
    max-width: 500px;
}